<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="market.place.product">
	<select id="selectAll" resultType="product">
		select * from product;
	</select>
	
	<insert id="insert" parameterType="product">
		insert into product(image, userid, name, description, price, count, regdate) values (#{image}, #{userid}, #{name}, #{description}, #{price}, #{count}, date_format(#{regdate}, '%Y-%m-%d))
	</insert>
</mapper>